<div class="cards-wrapper">
  <div class="cards">
    <% @client.each do |client| %>
    <div class="card">
      <%= image_tag client.image.url(:medium)%>
      <footer>
        <div class="name"><%= client.first_name %>&nbsp;<%= client.last_name %></div>
        <div><%= link_to "Show Details", client_path(client)%>&nbsp;|&nbsp;<%= link_to "Edit", edit_client_path(client)%></div>
      </footer>
    </div>
    <%end%>
  </div>
</div>
