<% @clients.each do |client| %>

<div class="row col-md-8 col-md-offset-2">
  <div class="col-md-3">
    <%= image_tag client.image.url(:medium), :class => 'img-responsive'%>
  </div>

  <div class="col-md-6">
    <h2><%= client.first_name %> <%= client.last_name %></h2>
    <h6><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<%= client.age %> year old <%= client.gender %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;by <%= client.guardian %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;in <%= client.location %></h6>
    <p><h4><%= client.description %></h4></p>
  </div>

  <div class="col-md-3">
    <div class="page-links"> <%= link_to "DETAILS", client_path(client), :class => 'btn btn-primary btn-sm' %>&nbsp; <%= link_to "EDIT", edit_client_path(client), :class => 'btn btn-primary btn-sm' %></div>
  </div>

  <div class="col-md-12">
    <hr>
  </div>
</div>

<%end%>
