<div class="show-wrapper">
  <div class="show-left col-md-4">
    <%= image_tag @client.image.url(:medium)%>
    <h4><%= @client.description%></h4>
  </div>
  <div class="show-right col-md-8">
    <div class="show-description">
      <h4><%= @client.first_name%>&nbsp;<%= @client.last_name%></h4>
      <h5><%= @client.age%> years old</h5>
      <h5><%= @client.first_name%> calls <%= @client.location%> home</h5>
      <h5><%= @client.first_name%> is lovingly cared for by <%= @client.guardian%></h5>
    </div>
  </div>

<div class="row col-md-6">
  <div id="show-particularities">
    <h2>Particularities</h2>
    <ul>
      <% @client.particularities.each do |particularity| %>
      <li><%= particularity.note %></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="row col-md-6">
  <div id="show-requirements">
    <h2>Requirements</h2>
    <ul>
      <% @client.requirements.each do |requirement| %>
      <li><%= requirement.step %></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="row col-md-12">
  <%= link_to "Edit client", edit_client_path(@client) %>
  <%= link_to "Back", root_path %>
  <%= link_to "Delete client", client_path(@client), method: :delete, data: {confirm: "Are you sure?"}%>
</div>
