<%= video_tag "home.mp4", :poster => "home.jpg", :autoplay => true, :autobuffer => true, :controls => false, :loop => true %>

<div class="row">
  <div class="col-md-5 col-md-offset-7">
    <div class="panel panel-default panel-login">
      <div class="panel-body">
        <div class="panel-heading">Pet Care Like A Boss</div>
        <div class="panel-title">Created for independent pet caretakers to better serve their precious clients</div>
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, hide_label: true, placeholder: "Email", class: "input-lg"%>
        <%= f.password_field :password, hide_label: true, placeholder: "Password", class: "input-lg" %>
        <%= f.submit "Log In", class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>







// DEVISE ORIGINAL ----
<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
