<!DOCTYPE html>
<html>
<head>
  <title>PreciousApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "Client List", root_path %>
    </div>

  </div>
</nav>

<div class="container">
  <% if notice %>
  <p><%=notice%></p>
  <%end%>
</div>




  <%= yield %>



</body>
</html>
